langchain_openai
langchain_core
langchain-community
langchain-ollama
langchain-groq
langchainhub
streamlit
dotenv
langserve
fastapi
uvicorn
sse_starlette
ipykernel
bs4
pypdf
chromadb
faiss-cpu
arxiv
wikipedia
groq
beautifulsoup4

## Multimodal RAG
unstructured[all-docs]
unstructured_inference
pi_heif
pillow 
lxml
tiktoken
pdfminer
pdf2image
PyMuPDF