langchain_openai
langchain_core
langchain-community
langchain-ollama
langchainhub
streamlit
dotenv
langserve
fastapi
uvicorn
sse_starlette
ipykernel
bs4
pypdf
chromadb
faiss-cpu
arxiv
wikipedia